form.form
    fieldset
    ul.form-set
        li
            input.title(type="text", name="title", required="required" placeholder="Название")
        li
            button.form__btn.button(type="submit", data-action='add')= "save"
            